/* Index css */

.main-content {
    flex: 1;
    padding: 20px;
    /* background-color: #fff; */
    /* border-radius: 12px; */
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.notification-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.architect-card {
    border-radius: 12px;
}

.architect-card h1 {
    margin-bottom: 8px;
    text-align: center;
}

.architect-card h2 {
    font-size: 1.8em;
    margin-bottom: 4px;
    text-align: center;
}

.architect-card h3 {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
}

.architect-card p {
    color: #444;
    line-height: 1.6;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    margin: 0;
}



/* .traits-container {
    max-width: 800px;
    margin: 20px 10px;
} */


/* swot css */

.swot-container {
    margin-top: 20px 10px;
}

.swot-tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.swot-tabs button {
    background: none;
    border: none;
    padding: 12px 0;
    cursor: pointer;
    position: relative;
    color: #666;
}

.swot-tabs button.active {
    color: #000;
    font-weight: 500;
}

.swot-tabs button.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #0066ff;
}

/* .strength-item {
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f9fb;
    border-radius: 8px;
} */

.check-icon {
    color: #0066ff;
    margin-right: 12px;
}

.strength-description {
    color: #666;
    margin-top: 8px;
}

/* perso css */

.trait-container {
    background-color: #F9F9FA;
    border-bottom: 2px solid #fff;
    height: 25%;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 6px;
}


.trait-labels p {
    color: #666;
    font-weight: bold;
    margin: 0;
}

.progress-bar-personality {
    height: 12px;
    border-radius: 4px;
    position: relative;
    width: 100%;
}

.progress-bar-text p {
    color: #6A6A81;
    margin: 0;

}

.progress-bar-text {
    width: 100px;
    margin: 0 5px;
}

.progress-fill {
    height: 100%;

    border-radius: 4px;
    position: relative;
}

.progress-marker {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}



.personality-section {
    display: flex;
    flex-direction: row;
}

.personality-container {
    flex: 2;
    margin-right: 10px;
}

.traits-container {
    flex: 3;
}


.swot-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-column-gap: 4px;
    grid-row-gap: 4px; */
}

.swot-box {
    /* border: 1px solid #84849A;
    border-radius: 8px;
    padding:10px; */
}
.swot-box h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 5rem;
    width: 100%;
    font-weight: bolder;

}
.swot-box-forces h3 {
    color: #83D2E1;
}

.swot-box-faiblesses h3 {
    color: #7867AE;
}

.swot-box-opportunites h3 {
    color: #E2E426;
}

.swot-box-menaces h3 {
    color: #EC688E;
}

.swot-box-forces button {
    background-color: #83D2E1;
    color: #fff;
}

.swot-box-faiblesses button {
    background-color: #7867AE;
    color: #fff;
}

.swot-box-opportunites button {
    background-color: #E2E426;
    color: #fff;
}

.swot-box-menaces button {
    background-color: #EC688E;
    color: #fff;
}

.swot-box-forces button:hover {
    border:1px solid #83D2E1;
    color: #83D2E1;
}

.swot-box-faiblesses button:hover {
    border:1px solid #7867AE;
    color: #7867AE;
}

.swot-box-opportunites button:hover {
    border:1px solid #E2E426;
    color: #E2E426;
}

.swot-box-menaces button:hover {
    border:1px solid #EC688E;
    color: #EC688E;
}


.swot-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.swot-box ul li>input{
  border: .5px solid #84849A;
  border-radius: 5px;   
  padding: 2px;
}

.swot-box ul li>button{
  color: red;
  background-color: transparent;
    border: none;
}

.swot-box-forces ul li {
    background-color: #15133A;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    
    margin-bottom: 10px;
}

.swot-box-faiblesses ul li  {
    background-color: #15133A;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    
    margin-bottom: 10px;
}

.swot-box-opportunites ul li  {
    background-color: #15133A;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

.swot-box-menaces ul li  {
    background-color: #15133A;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}


.swot-box-forces  {
  border-right: 1px solid #84849A;
  border-bottom: 1px solid #84849A;
}

.swot-box-faiblesses  {
    border-left: 1px solid #84849A;
  border-bottom: 1px solid #84849A;
}

.swot-box-opportunites  {
    border-right: 1px solid #84849A;
    border-top: 1px solid #84849A;
}

.swot-box-menaces  {
    border-left: 1px solid #84849A;
    border-top: 1px solid #84849A;
}
